.site {
    //background-color: rgb(122, 176, 207);
    background-color: $color__background-body;
    font-family: $font__main;
    max-width: 100vw;
    overflow-x: hidden;
}


.home::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color__background-body-clip;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: -1;
}

.site__header{
    grid-area: header;  
    background-color: rbga($color__background-header, .5);
}

.site__barre{
    grid-area: sidebar;
    background-color: $color__background-barre;
}

.site .site__main{
    grid-area: main;
    background-color: rgba ($color__background-main, .5);
    width: 100vw;
    @media screen and (min-width: $largeur__media--tablette){
        width: 75vw;
    }
}

.site__footer{
    grid-area: footer;
    background-color: $color__background-footer;
}
/*configuration mobile */
.site {
	display: grid;
    gap : 0px;
	grid-template-columns: auto;
	grid-template-areas:
		"sidebar"
        "header"
		"main"
		"footer";
}
/*configuration desktop*/
@media screen and (min-width : $largeur__media--tablette)
{
    .site {
        grid-template-columns: ($size__site-barre) auto;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }

    .home {
        display: grid;
        gap : 0px;
        grid-template-columns: auto;
        grid-template-areas:
            "sidebar"
            "header"
            "main"
            "footer";
    }
}


