.animation{
    display : flex;
    justify-content: center;

    &__bloc{
        display : flex;
        justify-content: center;
        align-items: center;
        width : 100px;
        height : 100px;
        background-color: $color__background-animation-entete;
        color : $color__background-animation-font;
        font-size: 3rem;
        animation : anim-entete 1s forwards;
        
        &__un {
            animation : anim-entete 2s forwards;
        }
        &__deux {
            animation : anim-entete 2.5s forwards;
        }
        &__trois {
            animation : anim-entete 3s forwards;
        }
        &__quatre {
            animation : anim-entete 3.5s forwards;
        }
        &__cinq {
            animation : anim-entete 4s forwards;
        }
        &__six {
            animation : anim-entete 4.5s forwards;
        }
        &__sept {
            animation : anim-entete 5s forwards;
        }
    }
}

@keyframes anim-entete {
    0% {
      transform: scale(3);
    }
  
    50% {
      transform: scale(1);
    }
    75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }