/* ---------------- BACKGROUND */
$color__background-body : #F2F2F2;
$color__background-main : #BF3459;
$color__background-cours : hsl(209, 100%, 91%);
$color__background-header : #021E73;
$color__background-barre : #0F8AA6;
$color__background-footer : #A60321;
$color__background-link : #0F8AA6;
$color__background-link-hover : #021E73;

/* ---------------- LIENS */
$color__link : hsl(0, 0%, 100%);
$color__link-hover : #A60321;
$color__link-visited : #BF3459;
/* ---------------- LIENS FOOTER */
$color__link__footer : #ffffff;
$color__link__footer-hover : black;
$color__link__footer-visited : #BF3459;
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(0, 82%, 68%);
$color__link__header-hover : hsl(123, 63%, 72%);
$color__link__header-visited : white;

/* ---------------- FONT */
$color__font-header : rgb(255, 255, 255);
$color__font-main :rgb(0, 0, 0);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : #ffffff;