@font-face {
    font-family: 'Clown Font';
    src: url(CandyColouredClown.otf);
}

$font__main : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font__titre : 'Clown Font';
$font__footer: 'Times New Roman', Times, serif;

$font__principal : 'Montserrat', sans-serif;
$font__secondaire : 'Poppins', sans-serif;
$font__paragraphe_1 : 'Roboto', sans-serif;
$font__paragraphe_2 : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
