@mixin links(	$couleur, 
				$couleur--visited, 
				$couleur--hover)
{
	color: $couleur;

	&:visited {
		color: $couleur--visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $couleur--hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

@mixin box ( $couleur__background,
$couleur__shadow ) {
	background-color: $couleur__background;
	box-shadow:$couleur__shadow 1px -1px 10px;
}

.formation__cours {
	@include box ($color__background-cours, $color__font-main)
}


a {
	@include links(	$color__link,
					$color__link-visited, 
					$color__link-hover )
}

 .site__footer a{
	@include links(	$color__link__footer,
					$color__link__footer-visited, 
					$color__link__footer-hover );
}

.header__titre a{
	@include links(	$color__link__header,
					$color__link__header-visited, 
					$color__link__header-hover );
}

