.erreur-404 {
    .erreur-404__message-1 {
        font-size: 5rem;
        font-family: $font__titre;
        text-align: center;
    }

    .erreur-404__message-2 {
        font-size: 3rem;
        text-align: center;
        text-decoration: underline;
    }
}