.site__main {
    padding: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
    box-shadow: rgb(57, 68, 62) 1px -1px 10px;
}

.formation {
    display: flex;
    flex-direction: column;

    &__titre {
        font-size: 2rem;
        color: $color__font-main;
        margin: 10px 0px;
        font-family: $font__titre;
        text-align: center;
        @media screen and (min-width : $largeur__media--tablette){
            font-size: 4rem;
        }
    }
    &__liste {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__cours {
        background-position: 97% 3%;
        background-size: 2rem 2rem;
        border-radius: 5px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width : $largeur__media--tablette){
            width: 45%;
        }
        @media screen and (min-width : $largeur__media--desktop){
            width: 30%;
        }
        padding: 10px;
        &__invisible {
            display : none;
        }
    }
    


}


.cours__titre {
    font-size: 1.5rem;
    color: $color__font-main;
    margin: 5px 0px;
}

.cours__sigle {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin: 0;
}

.cours__description {
    font-size: 1rem;
}

.web {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=globe-bold');
    background-repeat: no-repeat;
}
.jeu{
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=games');
    background-repeat: no-repeat;
}
.comm {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=users');
    background-repeat: no-repeat;
}
.design {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=color_lens');
    background-repeat: no-repeat;
}
.utilitaire{
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=tools-bold');
    background-repeat: no-repeat;
}
.video {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=device-camera-video');
    background-repeat: no-repeat;
}
.creation-3d {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=view_in_ar');
    background-repeat: no-repeat;
}