.article {
    &__contenu {
        padding: 30px;

        &__figure {
            text-align: center;
        }
    }

    &__titre {
        text-align: center;
        font-family: $font__titre;
        font-size: 2.5rem;
        animation: couleur 4s forwards;

        @media screen and (min-width: $largeur__media--tablette) {
            font-size: 4rem;
        }

        @keyframes couleur {
            from {
                color: $color__font-main;
            }

            to {
                color: $color__font-barre;
            }
        }
    }
}