.site__footer {
  font-family: $font__titre;
  background-color: $color__background-footer;
  padding: 15px;

  &__menu {
    // .site__footer__menu

    &__ul {
      // .site__footer__menu__ul
      display: flex;
      justify-content: center;

      li {
        margin: 10px 5px;
        list-style: none;

        a {
          // .site__footer__menu__ul .menu-item a
          display: flex;
          align-items: center;
          padding: 3px;

          svg {
            // .site__footer__menu__ul .menu-item a svg
            color: $color__link__footer;
          }

          &:hover {
            svg {
              // .site__footer__menu__ul .menu-item a svg
              color: $color__link__footer-hover;
            }
          }
        }
      }
    }
  }
}

.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: center;
}

.site__footer {
  display: flex;
  flex-direction: column;

  &__colonne {
    display: flex;
    justify-content: space-around;
    section {
      display: flex;
      flex-direction: column;
      border: 1px solid #ddd;
      flex: 0 0 30%;
    }

    .footer__article{}

    .footer__lien{}

    .footer__adresse{}

  }

  &__ligne {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}