.site__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color__background-header;
    color: $color__font-header;
    padding-left: 10px;

    svg {
      color: white;
    }

    .header__titre {
      font-size: 3em;
      font-family: $font__titre;
      margin-left: 10px;
    }
    .header__description {
      margin-left: 20px;
      font-size: 1.5rem;
      font-family: $font__main;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline overline;
    }
  }

  .util {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;

      &__liens {
        display: flex;
        justify-content: space-around;
        a {
          svg{
            color:white;
          }

        }

      }
  }