.menu-menu_accueil-container { //nav

    .menu { //ul
        display : flex;
        justify-content: space-around;

        .menu-item { //li
            width : 15%;
            padding : 10px;
            background-color: $color__bouton__background;
            a {
                color : $color__bouton__color;
                font-size: 1.5rem;
                .menu-item-description { // span
                    font-size: 1rem;
                }

            }
        &:hover {
            background-color: $color__bouton__background--hover;
            a {
                color : $color__bouton__color--hover;
            }
        }    

        }

    }

}